@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfair/PlayfairDisplay-Bold.eot');
    src: url('../fonts/playfair/PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfair/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/playfair/PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/playfair/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfair/PlayfairDisplay-ExtraBold.eot');
    src: url('../fonts/playfair/PlayfairDisplay-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfair/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
        url('../fonts/playfair/PlayfairDisplay-ExtraBold.woff') format('woff'),
        url('../fonts/playfair/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfair/PlayfairDisplay-Medium.eot');
    src: url('../fonts/playfair/PlayfairDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfair/PlayfairDisplay-Medium.woff2') format('woff2'),
        url('../fonts/playfair/PlayfairDisplay-Medium.woff') format('woff'),
        url('../fonts/playfair/PlayfairDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfair/PlayfairDisplay-SemiBold.eot');
    src: url('../fonts/playfair/PlayfairDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfair/PlayfairDisplay-SemiBold.woff2') format('woff2'),
        url('../fonts/playfair/PlayfairDisplay-SemiBold.woff') format('woff'),
        url('../fonts/playfair/PlayfairDisplay-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfair/PlayfairDisplay-Regular.eot');
    src: url('../fonts/playfair/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/playfair/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('../fonts/playfair/PlayfairDisplay-Regular.woff') format('woff'),
        url('../fonts/playfair/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Light.eot');
    src: url('../fonts/poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/Poppins-Light.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Light.woff') format('woff'),
        url('../fonts/poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Regular.eot');
    src: url('../fonts/poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Regular.woff') format('woff'),
        url('../fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Medium.eot');
    src: url('../fonts/poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Medium.woff') format('woff'),
        url('../fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-SemiBold.eot');
    src: url('../fonts/poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins/Poppins-Bold.eot');
    src: url('../fonts/poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/poppins/Poppins-Bold.woff') format('woff'),
        url('../fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}