body,.header-top,.site-header .navbar,.bg-grey,.bg-purple,.site-footer,.message-tab,.btn-wrap .btn-org,.btns div,.common-tab .nav-link.active,.btn-wrap .btn-org-bdr:hover{
    background-color: #000;
    border-color: #000 !important;
}

a, .nav-link, .nav-link.active, .link-primary{
    color: #ffff00 !important;
}
h1, h2, h3, h4, h6, p, li, span,button, .site-header .navbar-nav .nav-item .nav-link.active,.main-sidebar .nav-item a::before{
    color: #fff !important;
}

.message-tab .nav,.common-video-img .video-icon,.header-top-right ul li .text-increment-btn,.site-footer .sociallink-wrap ul li a,.our-journey-card{
    background-color: #000;
    
}
.our-journey-card img {
    filter: invert(1);
    height: 50px;
}

.logo-wrap img{
    background-color: #fff !important;
}
.latest-update-wrap {
    background: #000;
    overflow: hidden;
}
.master .side-tab1 .nav .nav-item {
  
    background: #292626;
   
}
.site-header .navbar-nav .nav-item .dropdown-menu li a, table tr:nth-child(even), table th, div.dt-buttons > .dt-button, div.dt-buttons > div.dt-button-split .dt-button{
    background-color: #000 !important;
}

.our-journey-card img {
    filter: inherit;
    
}
.activity-slider-content, .about, .master .side-tab1 .nav-qm, .quick-menu-head-stl, .main-sidebar, .common-tab .nav-item.active, .heading-txt-styl {
   border: 1px solid #fff;
    background: #000 !important;
}
.site-header .navbar{
    border-top: 1px solid #fff !important;
}

.heading-red {
    color: #000 !important;
}
.hero-slider-content .title-black {
   
    color: #232323 !important;
   
}
li.nav-item.active, .photo-gallery-wrap .text-content{
    background-color: #000;
}
.about-us-card p.title-org, .course-wrap, .course-list ul li .read-more, .new_gall_boxhead_change .content, .readon2 {
    background: #000 !important;
    border: 1px solid #fff;
}
tbody, td, tfoot, th, thead, tr, .nav-item-qm i{
    color: #fff;
}
p strong, li strong{
    color: #fff !important;
}

.btn-wrap .btn-org-bdr{
    border: 1px solid #fff;
}
.activity-slider-card{
    border-color: #fff;
}
.activity-slider-content .read-more, .latest-update-wrap .title-white, .main-sidebar ul li:hover, .main-sidebar ul li:last-child, .nav-item-qm:hover, .main-sidebar ul li:hover{
    background-color: #000;
    border: 1px solid #fff;
}
.event-list-content .tag, .event-slider #eventSlider .owl-nav .owl-next, .event-slider #eventSlider .owl-nav .owl-prev{
    background: none;
}
.course-list ul li .read-more img{
    // background-color: #fff;
}
.owl-carousel .owl-item img {
    // background: #000;
}
.footer-bottom, .site-footer{
    background-color: #000;
    border-top: 1px solid #fff !important;
}
.site-header .navbar-nav .nav-item .dropdown-menu li a::before, .master .master-list-item li::before, .activity-slider-content .desc, .master .common-tab ul.nav-qm.nav-tabs .nav-item .nav-link::before, .dataTables_wrapper .dataTables_filter, #offcanvasRight, .dataTables_wrapper .dataTables_paginate .paginate_button.next, .dataTables_wrapper .dataTables_paginate .paginate_button.previous, .our-journey-card:hover, .nav-item-qm:hover{
    color: #fff !important;
}
.latest-update-wrap .title-white::after {
    background-color: #000 !important;
    border-left: 1px solid #fff;
}

#offcanvasRight, .dataTables_wrapper .dataTables_paginate .paginate_button.next, .dataTables_wrapper .dataTables_paginate .paginate_button.previous, .our-journey-card:hover, .nav-item-qm:hover, li.nav-item .active{
    background: #000 !important;
}

.latest-update-wrap .title-white::after {
    width: 2px !important;
}
.addevent-box h5 {
    color: #fff !important;
}