@media (min-width: 1300px) {
    .news-content-list ul li a .desc {
        font-size: 15px !important;
    }
    .hero-slider-content {
        padding: 0 11% !important;
    }
    
.header-top .header-top-left {
    position: relative;
  }
  .header-top .header-top-left ul li {
    position: relative;
  }
 
}

@media (max-width:1200px){
    .activity-slider-content {
        padding: 7px 25px !important;
        height: 100%;
    }
}
@media (max-width:1299px){
    .dataTables_wrapper .dataTables_length label {
        margin: 0 10px 0 0;
    }
    table#DataTables_Table_0{
        display: block;
    }
    .common-tab .nav-link {
        padding: 6px 5px !important;
    }
    .main-sidebar ul li {
        padding: 4px 0px !important;
    }
    .nav-item-qm {
       
        padding: 5px 7px !important;
    }
   
    .footer-bottom ul li:not(:last-child)::after {
        content: "";
        width: 1px;
        height: 10px;
        background: #bfbfbf;
        position: absolute;
        right: -1px;
        top: 6px;
    }
    .site-footer .copyright-wrap p {
        font-size: 13px;
    }
    .news-content-list {
        max-height: 269px;
        overflow: auto;
        text-align: center;
    }
    .footer-bottom ul li {
        color: #fff;
        font-size: 13px !important;
        padding: 0px 3px;
    }
    .addevent-box.top {
        /* background: #fff !important; */
    }
    .about{
        background: none;
    }
}
@media (min-width:991px){
    .about-us-card {
    transition: 0.5s ease-in-out !important;
    min-height: 308px;
}
    .header-top .header-top-left ul li:not(:last-child):after {
        content: "";
        width: 1px;
        height: 10px;
        background: #6c6c6c;
        position: absolute;
        right: 8px;
        top: 8px;
      }
}
@media (max-width: 1366px) {
    .addevent-box h5 {
        font-size: 14px !important;
    }
    .addevent-box h6 {
        font-size: 13px !important;
    }
    .about-us-card {
        min-height: 22.4em !important;
    }
    .common-tab .nav-link {
        font-size: 13px !important;
        padding: 10px ;
    }
    .master .tab-content h1 {
        padding: 0px 20px 0px !important;
    }
    .master .news-content-list {
        padding: 0px 17px !important;
    }
    .btn-wrap .btn-org-bdr {
        padding: 7px 18px !important;
    }
    .master .button {
        padding: 7px 18px !important;
    }
    .master .accordion-item {
        /* padding: 0px 10px !important; */
    }
    .master .accordion-header {
        font-size: 22px;
        padding: 0 0 !important;
    }
}

@media screen and (max-width: 640px) {
    .about div.dt-buttons, .dataTables_wrapper  div.dt-buttons{
        float: right !important;
        text-align: center;
        display: inline !important;
    }
    .dataTables_wrapper .dataTables_filter {
        margin-top: .5em;
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .common-tab .main-sidebar .accordion .accordion-body ul {
        margin: 14px 10px 0 20px !important;
    }
    .about-us-card .title-org a {
        font-size: 12px;
    }
    .site-header .navbar-nav .nav-item .dropdown-menu {
        width: 300px !important;
    }
    .site-header .navbar-nav .dropdown-menu li:hover ul.dropdown-submenu {
        display: block;
        margin-left: 15px !important;
    }
    .event-card .title-white {
        padding: 6px 4px !important;
    }
    .contact {
        padding: 0px 0 30px ;
    }
   .common-tab .main-sidebar .accordion:hover a {
        padding: 0 7px 0 10px !important;
        padding-left: 10px !important;
    }
    .master .accordion-header button {
        padding: 7px 21px;
        font-size: 15px;
        color: #000 !important;
        opacity: 1;
    }
    .site-header .navbar-nav .nav-item ul.dropdown-submenu {
        position: static !important;
        width: 275px;
    }
    .main-sidebar .accordion-item a {
        padding: 0 7px 0 10px !important;
    }
    .col-box-g .column img.demo.cursor {
        height: 80px !important;
        width: 100%;
    }
    section.our-journey.ptb-100 .mb-4{
        margin-bottom: 0px !important;
    }
    .subheading {
        font-size: 16px;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
        margin-bottom: 5px;
    }
    .dataTables_wrapper .dataTables_paginate {
        text-align: left !important;
    }
    .main-sidebar h3 {
        padding: 8px 4px 10px !important;
    }
    .tab-pane.fade .photo-gallery-wrap .text-content {
        padding: 0 10px 50px !important;
    }
    .dataTables_wrapper .dataTables_filter {
        margin-top: .5em;
        display: flex;
        justify-content: space-between;
    }
    .about .row:has(.dashboard-link) {
        display: block !important;
        float: none !important;
        position: static !important;
        margin: auto !important;
        width: 100% !important;
    }
    table, table.dataTable{
        display: block !important;
    }
   
    .message-tab-img {
        display: inline-block;
        float: none;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 18px;
        padding: 0px 1px 8px;
        margin-top: 6px;
        line-height: 1.5;
    }
    .message-tab-img .video-wrap .video-img {
        max-width: 100% !important;
        margin: 0  !important;
    }
    .site-header .navbar-nav .nav-item .nav-link.active {
        padding: 6px 13px;
    }
    .site-header .navbar-nav .nav-item .nav-link {
        padding: 0px 0 !important;
    }
    img{
        width: 100%;
    }
    .site-footer .copyright-wrap p {
        text-align: center;
        padding: 0 8px;
    }
    .our-journey-card .title {
        font-size: 1.25em;
        letter-spacing: 0px;
        color: #000000;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;
        overflow: hidden;
    }
    table.dataTable div.dt-buttons {
        float: right !important;
        text-align: center;
    }
    div#tenders-tab-pane table.dataTable.no-footer {
    display: block !important;
}
    .news-wrap:has(.cme-schme-container) {
        padding: 10px 8px 29px !important;
    }
    .header-top {
        padding: 3px 0;
    }
    .header-top-left ul li a {
        margin-right: 0px;
        font-size: 12px !important;
    }
    .dateTime{
        font-size: 12px !important;
    }
    .accessbility-nav-link{
        display: none;
    }
    .btns div {
        padding: 0px 13px;
        font-size: 25px;
        border-radius: 6px;
      }
    .event-list-content .date-wrap img {
        margin: 6px 0;
    }
  .about-us-card{
        border: 1px solid #ddd;
        padding: 7px;
    }
    .text-content {
        padding: 0 15px;
    }
    .about-us-card-back {
        position: relative;
        display: block;
        border: 1px solid #ddd;
    border-top: 0;
    border-radius: 0px 0px 10px 10px;
    padding: 12px 15px;
}
    
    .hero-slider .fa-arrow-right {
        display: inline-block;
    }
    .hero-slider .btn-wrap .btn-org {
        border: none;
        border-radius: 20px;
        letter-spacing: 0px;
        background: none;
        color: blue;
        font-size: 12px !important;
        font-weight: 500;
        padding: 0 !important;
    }
    .hero-slider-content {
        height: auto;
        padding: 0px 5px;
    }
    .btns div {
        padding: 0px 5px;
        font-size: 25px;
        background: #ff5200;
        border-radius: 5px;
    }
    .site-header .logo-right {
        align-items: self-start;
    }
    .site-header .logo-wrap {
        padding: 20px 0 0;
    }
    .hero-slider-img {
        padding: 0px;
    }
    section.our-journey .our-journey-card {
        padding: 11px 14px;
    }
    .activity-slider .owl-nav .owl-next span,
    .activity-slider .owl-nav .owl-prev span {
        height: 9px;
    }
    .activity-slider .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        border-radius: 5px;
    }
    .photo-gallery-wrap .text-content {
        padding: 0 0px 8px;
    }
    .activity-slider .owl-nav .owl-next,
    .activity-slider .owl-nav .owl-prev {
        width: 22px;
        height: 22px;
    }
    .activity-slider .owl-nav {
        top: -40px !important;
    }
    .activity-tab .owl-carousel .owl-nav {
        display: block !important;
    }
    .photo-tab {
        padding: 6rem 0;
        margin: 10px 0 20px;
    }
    .activity-slider .owl-carousel {
        height: auto;
        z-index: 1;
    }
    .about-us-card:hover {
        padding: 15px 15px 20px;
    }
    .header-top-content li {
        font-size: 14px;
        background: #fff;
        margin: 2px;
        border: 1px solid #ddd;
        padding: 0 8px;
        border-radius: 5px;
    }
    .course-wrap {
        padding: 20px;
    }
    .course-list ul li {
        font-size: 14px;
        padding: 8px 0;
    }

    .hero-slider .owl-carousel .owl-item img {
        height: auto !important;
    }
    .hero-slider {
        height: auto !important;
    }
    .hero-slider .owl-carousel {
        width: 100%;
        height: auto;
        z-index: 1;
    }

    .Grid-row {
        flex-direction: column;
    }

    .Grid {
        width: unset !important;
    }
    .Card-thumb {
        display: flex;
        justify-content: center;
        margin: 26px 0px 0px 0px;
        width: unset !important;
    }

    .img-filter-sec-right {
        margin: 20px 0px;
    }

    .hero-slider #heroSlider .owl-nav {
        display: none !important;
    }
    .btns div {
        font-size: 14px !important;
    }
    .latest-news-slider .btns div {
        padding: 10px 13px !important;
    }
    .latest-news-slider .owl-carousel {
        height: auto;
    }
    .search-wrap .form-control {
        margin-bottom: 6px;
    }

    .mobile-width-50 {
        width: 50%;
    }

    .mobile-width-80 {
        width: 38%;
    }

    .mobile-width-30 {
        width: auto;
    }

    .hero-slider-content .heading-red {
        font-size: 12px;
    }
    .hero-slider-content .title-black span {
        font-size: 12px;
    }
    .hero-slider-content .title-black {
        padding: 5px 0 !important;
        font-size: 11px;
    }

    .btn-wrap .btn-org {
        border: 1px solid #ff5200;
        border-radius: 20px;
        letter-spacing: 0px;
        background: #ff5200;
        color: #ffffff;
        font-size: 12px !important;
        font-weight: 500;
        padding: 4px 6px !important;
    }

    .common-video-img .video-icon {
        width: 25px !important;
        height: 25px !important;
        line-height: 30px;
        text-align: center;
        border-radius: 100%;
        color: #fff;
    }
    .hero-slider #heroSlider .owl-dots {
        display: none !important;
    }
    .common-video-img .video-wave .waves-block .waves {
        height: 126px;
        width: 126px;
    }
    .hero-slider-content .btn-wrap.d-flex.align-items-center {
        height: 25px;
    }

    .heading-black {
        font-family: "Playfair Display";
        letter-spacing: 0px;
        color: #000000;
        margin: 0 0 5px;
        padding: 0px !important;
    }
    .ptb-100 {
        padding: 20px 0 !important;
    }
    .event-slider .owl-carousel {
        height: auto;
    }
    .activity-tab .title-white {
        /* margin: -18px !important; */
        color: #fff !important;
        font-size: 13px !important;
    }

    section.client-wrap.ptb-100 {
        padding: 15px 0;
    }

    section.client-wrap.ptb-100 .owl-carousel {
        height: auto;
    }

    .master .side-tab1 h1 {
        padding: 30px 40px;
    }
    .breadcrumb .breadcrumb-img img {
        height: auto;
    }
    .master {
        padding: 40px 0;
    }
    .master h1 {
        padding: 15px 0px 15px !important;
        font-size: 20px !important;
    }
    p,
    .desc {
        text-align: justify;
        font-size: 13px !important;
        line-height: 1.7;
        margin-bottom: 10px;
    }
    .message-tab .nav {
        border-radius: 20px !important;
        padding: 15px;
        justify-content: left !important;
    }
    .common-tab .nav-item .nav-link {
        border: 1px solid #d2d2d2;
        margin: 0 5px 5px !important;
    }
    .activity-tab .nav {
        /* justify-content: left !important; */
    }
    .activity-slider .owl-nav .owl-next, .activity-slider .owl-nav .owl-prev {
        width: 30px !important;
        height: 30px !important;
    }
    .photo-tab {
        padding: 5rem 0;
        margin: 50px 0 45px !important;
    }
    .gallery-lbox {
        box-shadow: 0 0 30px #eee;
        background: #fff;
        border-radius: 10px;
        margin-bottom: 30px;
    }

    .site-footer {
        padding: 30px 0px 0px !important;
    }
    .photo-wrap .tab-content{
        padding: 0 !important;
    }
    .activity-slider .owl-nav {
        top: -49px;
    }
    .master .message-tab .common-tab .nav-link {
        padding: 10px 12px;

        font-size: 12px;
        background: #e8e8e8;
        margin: 5px 6px;
    }
    h2.heading-black.heading-black-md {
        font-size: 19px !important;
        padding: 20px 0 10px;
        margin-top: 10px;

    }
    .message-tab-content .desc {
        font-size: 14px !important;

        line-height: 1.5;
    }
    .btn-wrap .btn-org-bdr {
        font-size: 14px !important;
        padding: 7px 20px !important;
    }
    .master .accordion-item {
        margin: 10px 0;
    }
    .master .accordion1 {
        padding: 20px 0;
    }
    h2 {
        font-size: 18px;
    }
    .master .button {
        font-size: 14px;

        padding: 6px 15px;
    }
    .main-title h2 {
        padding: 15px 0 10px !important;
        margin: 0;
        font-size: 20px;
    }
    .contact .contact-item .title p {
        font-size: 11px;
        margin: 0;
    }
    .contact .contact-item .icon i {
        margin-right: 10px;
        border-radius: 50%;

        width: 30px;
        height: 30px;

        font-size: 15px;
    }
    .master .master-form .contact .contact-item {
        padding: 10px 20px;
    }
    .master .contact-form {
        padding: 23px 0 !important;
    }
    .master .contact-form .master-input {
        padding: 0 0 11px 0;
    }
    .accordion-body {
        font-size: 14px;
    }
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
        padding: 5px;
        font-size: 13px !important;
    }
    .message-tab-content .title {
        font-size: 14px !important;
    }
    li {
        font-size: 14px;
    }
    .master .news-content-list {
        padding: 0px 10px;
    }
    .news-content-list ul li a .date-wrap .date {
        font-size: 20px;
    }
    .master {
        padding: 20px 0 30px !important;
    }
    .master .about {
        padding: 0 0px 0 0 !important;
        background: none;
    }
    .breadcrumb h3 {
        font-size: 16px !important;
        padding: 0;
        line-height: 1.3;
        letter-spacing: 0px;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: normal;
        overflow: hidden;
        text-align: center;
        width: 100%;
    }
    .profile-img {
        max-height: 320px !important;
        min-height: 276px;
    }
    .profile-img img{
        object-fit: fill;
    }
    .addevent-box h6 {
        font-size: 12px !important;
    }
    .addevent-box.top {
        min-height: 264px;
    }
    .addevent-box h6{
        margin: 0;
    }
    .master h5{
        text-align: center !important;
        display: flex;
        justify-content: center;
    }
    .breadcrumb .breadcrumb-title {
        width: 80%;
    }
    .breadcrumb .breadcrumb-img img {
        height: auto !important;
    }
    .main-body .breadcrumbs-link-text ul li {
        font-size: 11px !important;
        display: inline;
    }
    .main-body .breadcrumbs-link-text ul {
        display: block !important;
        padding: 5px 0 !important;
    }
    .master table {
        margin: 15px 0px !important;
    }
    .mtb-100 {
        margin: 85px 0;
    }
    .common-tab .nav-link {
        padding: 10px 12px;
    }
    .common-video-img .video-wave .waves-block .waves {
        width: 123px !important;
        height: 123px !important;
    }
    .latest-news-slider .btns {
        right: 2%;
        top: 9px;
    }
    .pb-4 {
        padding-bottom: 1rem !important;
    }
    .heading-black-lg {
        font-size: 20px !important;
    }
    .desc-grey {
        font-size: 12px !important;
    }
    .news-content-list ul li a .date-wrap {
        flex-direction: column !important;
    }
    .news-content-list ul li a .date-wrap .date {
        font-size: 17px !important;
    }

    .activity-slider-content .desc {
        font-size: 13px !important;
    }
    .activity-slider-content .title-black-sm {
        font-size: 16px;
    }
    section.activity-wrap.bg-purple.ptb-100 {
        height: 98px !important;
    }
    .site-header .navbar-nav .nav-item {
        padding: 8px 23px;
    }
    .site-header .navbar-nav .nav-item:not(:last-child) {
        border-bottom: 1px solid #fff;
    }
    .site-header .navbar-nav .nav-item:last-child {
        border-bottom: unset !important;
    }
    .nav-link img {
        padding: 0 10px;
        height: 5px;
        width: auto;
    }
    .about-us-card .title-org {
        text-align: left;
        float: left;
    }
    
    #latestMassage-tab-pane h2.heading-black.heading-black-md {
        margin: 8px 0;
    }
    .latest-update-wrap .title-white {
        font-size: 1.1em;
    }
    .latest-update-wrap .px-5 {
        padding-left: 1.2rem !important;
    }
    .sitemap .master h2 {
        padding: 0;
    }
    .master .side-tab1 .nav .nav-link {
        font-size: 13px;
    }

    .nav-item-qm a {
        border: unset;
        margin-bottom: 0px !important;
    }

    .nav-item-for-mob {
        display: block !important;
    }
    .side-mn-icn {
        display: none;
    }
    .an-hove-sidemenu {
        line-height: 8px !important;
        border-bottom: none !important;
    }
}

@media (min-width: 991px) and (max-width: 1366px) {
    .photo-gallery-img.img-auto img {
        height: 385px;
        width: 100%;
    }
    .course-wrap {
        padding: 14px 25px;
    }
    .course-list ul li {
        font-size: 16px;
        padding: 12px 0;
    }
    .photo-gallery-img img {
        height: 188px;
    }
    .common-tab .nav-item:first-child .nav-link {
        margin-left: 0;
    }
    .common-tab .nav-item:last-child .nav-link {
        margin-right: 0;
    }
    .common-tab .nav-item .nav-link {
        /* border: 1px solid #ff5200; */
        margin: 0 5px;
    }

    .master .lightbox-photo-gallery img {
        width: 100%;
        height: auto !important;
    }
    .mtb-100 {
        margin: 85px 0;
    }
    .common-tab .nav-link {
        padding: 6px 14px ;
    }
    .news-content-list ul li a .desc {
        font-size: 0.9em !important;
    }
    .news-content-list ul li a .date-wrap .date {
        font-size: 1.8em !important;
    }
    .event-card .title-white {
        font-size: 12px !important;
    }
    .our-journey-card .total-no {
        font-size: 2.125em !important;
    }
    .our-journey-card .title {
        font-size: 1em;
    }
    .photo-tab .nav {
        margin: 10px auto 21px !important;
    }
    .activity-slider-content .desc {
        font-size: 13px !important;
    }
    .activity-slider-content .title-black-sm {
        font-size: 1em !important;
    }
    .site-footer .footer-nav ul li a {
        font-size: 15px !important;
    }
    .activity-tab .title-white {
        font-size: 1em;
    }
    .hero-slider-content {
        padding: 0px 0px 0px 67px !important;
    }
    .event-list-content .date-wrap .date span {
        font-weight: 300;
        font-size: 12px;
        line-height: 1;
        padding: 0;
        margin: 0;
    }
    .event-list-content .address-wrap .address {
        font-size: 12px;
    }
    .our-journey-card .total-no {
        font-size: 2.125em;
    }
    .master .side-tab1 .nav .nav-link {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    .master .col-lg-3 {
        flex: 0 0 auto;
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .about-us-card {
        min-height: 24.7em !important;
    }
    .master .about {
        padding: 0 0px 0 0px !important;
    }
    .side-tab1 .col-md-3 {
        flex: 0 0 auto;
        width: 33% !important;
    }
    .master .side-tab1 .nav .nav-link {
        font-size: 14px;
    }
    .breadcrumb .breadcrumb-img img {
        width: 100%;
        height: 170px !important;
    }

    .our-journey .section.our-journey .col-md-3 {
        margin: 5px 0;
    }
    .activity-slider-card {
        background: #fff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1607843137);
        border-radius: 10px 10px 0px 0px;
        border-bottom: 5px solid #ff5200;
        height: 385px;
    }
    .event-card {
        margin-bottom: 0px !important;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
}

@media (max-width: 480px) {
   
    .site-header .logo-right .search-wrap form .btn-search {
        top: 33%;
    }
    .latest-update-wrap .title-white {
        font-size: 15px;
        text-align: center !important;
    }
    .latest-update-wrap .title-white::after {
        width: 0px;
    }

    .heading-black-lg {
        font-size: 20px !important;
        /* text-align: left !important; */
        margin-bottom: 0px;
        padding-bottom: 12px !important;
    }
    .ptb-100 {
        padding: 11px 0 !important;
    }

    .about-us-card-front {
        display: flex;
        align-items: center;
        
    }
    .common-tab .nav-item .nav-link {
        border: 1px solid #d2d2d2;
        margin: 0 5px 5px;
    }
    .about-us-card {
        min-height: auto !important;
    }
    .common-tab .nav-link.active {
        padding: 3px 8px !important;
    }
    .about-us-card .img {
        width: 80px !important;
        height: 80px !important;
        display: flex;
        margin: 0;
    }

    .about-us-card .title {
        margin: 0;
        padding: 3px 0;
        text-align: left;
    }
    .about-us-card .desc {
        text-align: left !important;
    }
    .about-us-card {
        min-height: auto;
    }

    .about-us-card .desc br {
        display: none;
    }

    .about-us-card .text-item {
        width: calc(100% - 70px);
        margin-left: 10px;
    }

    .news-wrap {
        padding: 10px 8px;
    }

    .common-tab .nav-link {
        font-size: 13px !important;
        padding: 3px 6px !important;
    }

    .common-tab .nav-item .nav-link {
        margin: 0 2px 8px;
    }

    section.activity-wrap.bg-purple.ptb-100 {
        height: 100% !important;
    }
    .activity-tab .title-white {
        text-align: left;
    }

    .activity-tab .title-white br {
        display: none;
    }

    .mt-neg-18 {
        margin-top: -16rem;
    }
    .photo-gallery-img img {
        height: auto;
    }

    .site-footer .footer-nav ul {
        display: inline-flex;
        -moz-column-count: 2;
        /* column-count: 2; */
        padding: 15px 10px;
        justify-content: flex-start;
        margin: 9px 0;
    }

    .site-footer .footer-nav ul li a {
        margin-right: 31px;
        font-size: 12px;
    }
}
